/* You can add global styles to this file, and also import other style files */

html {
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 1px;
  width: 100vh;
  height: 100vh;
}
